rPi-3 MQTT - BLE Server/flows_raspberrypi.json
[{"id":"fa6e3dc8.f5cc4","type":"tab","label":"Puck - MQTT - Basic UI","disabled":false,"info":""},{"id":"5cbbad2b.99fd64","type":"ui_tab","z":"","name":"Puck - MQTT - Dashboard UI","icon":"dashboard","order":"1"},{"id":"ef72142.0ef03e8","type":"mqtt-broker","z":"","name":"localhost","broker":"http://localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"162aba9e.4d38e5","type":"ui_group","z":"","name":"Enter text to echo","tab":"5cbbad2b.99fd64","order":1,"disp":true,"width":"6","collapse":false},{"id":"5dd24236.2ab38c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6471252d.feb0ec","type":"ui_group","z":"","name":"RSSI from Puck.js (02:bf)","tab":"5cbbad2b.99fd64","order":3,"disp":true,"width":"6","collapse":false},{"id":"349dc861.45c2b8","type":"debug","z":"fa6e3dc8.f5cc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":503.00003147125244,"wires":[]},{"id":"9896528e.b3acd","type":"ui_chart","z":"fa6e3dc8.f5cc4","name":"rssi","group":"6471252d.feb0ec","order":2,"width":"","height":"","label":"","chartType":"line","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":527,"y":115.00001621246338,"wires":[[],[]]},{"id":"5181cf99.6ff8d","type":"ui_gauge","z":"fa6e3dc8.f5cc4","name":"Gauge","group":"6471252d.feb0ec","order":3,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-100","max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":526.6988525390625,"y":183.22158813476562,"wires":[]},{"id":"d9349b8e.182928","type":"ui_text","z":"fa6e3dc8.f5cc4","group":"6471252d.feb0ec","order":1,"width":"","height":"","name":"Text Echo:","label":"Echo text:","format":"{{msg.payload}}","layout":"","x":547,"y":34.00001525878906,"wires":[]},{"id":"9db8e267.edc17","type":"ui_text_input","z":"fa6e3dc8.f5cc4","name":"","label":"","group":"162aba9e.4d38e5","order":1,"width":"","height":"","passthru":true,"mode":"text","delay":"50","topic":"","x":106,"y":33.00001525878906,"wires":[["d9349b8e.182928"]]},{"id":"102ff1c8.bfd50e","type":"mqtt in","z":"fa6e3dc8.f5cc4","name":"","topic":"/ble/advertise/f5:fc:e9:ec:02:bf/rssi","qos":"2","broker":"ef72142.0ef03e8","x":189.8958282470703,"y":118.88890171051025,"wires":[["9896528e.b3acd","5181cf99.6ff8d"]]},{"id":"10e3aac1.16c285","type":"mqtt in","z":"fa6e3dc8.f5cc4","name":"ThresholdCrossedReceiver","topic":"crossThreshold","qos":"2","broker":"ef72142.0ef03e8","x":138,"y":309,"wires":[["671e01c3.39d2a"]]},{"id":"fa26b92b.482bf8","type":"mqtt out","z":"fa6e3dc8.f5cc4","name":"","topic":"/ble/write/f5:fc:e9:ec:02:bf/nus/nus_tx","qos":"","retain":"","broker":"ef72142.0ef03e8","x":661,"y":433.0000009536743,"wires":[]},{"id":"671e01c3.39d2a","type":"function","z":"fa6e3dc8.f5cc4","name":"blink:  forward -> blue; reverse -> red","func":"var fire;\nvar msg;\n\nfire = JSON.parse(msg.payload);\n\nif (fire.DATA == \"FORWARD\"){\n    msg.payload = \"blinkParams('b',300);\\n\";\n}\n\nif (fire.DATA == \"REVERSE\"){\n    msg.payload = \"blinkParams('r',300);\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":432.0000305175781,"wires":[["fa26b92b.482bf8","349dc861.45c2b8"]]},{"id":"c1b4c92.c6dee38","type":"mqtt out","z":"fa6e3dc8.f5cc4","name":"","topic":"/ble/write/f2:5f:9a:7e:8c:cf/nus/nus_tx","qos":"","retain":"","broker":"ef72142.0ef03e8","x":663,"y":574.0000009536743,"wires":[]},{"id":"73f34e4d.e6583","type":"function","z":"fa6e3dc8.f5cc4","name":"send blinkNow()","func":"var msg;\nmsg.payload = \"blinkNow();\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":575.0000009536743,"wires":[["349dc861.45c2b8","c1b4c92.c6dee38"]]},{"id":"a4659ec2.ea999","type":"inject","z":"fa6e3dc8.f5cc4","name":"5 Second Interval","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":575.0000009536743,"wires":[["73f34e4d.e6583"]]}]