MQTT -n- Dashboard Server/flows_T420_server.json
[{"id":"83d18cbe.ba682","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"464dfed7.7d3e3","type":"ui_group","z":"","name":"Foot Traffic Flow Sensor","tab":"5d4198ee.fc38a8","disp":true,"width":"6","collapse":false},{"id":"5d4198ee.fc38a8","type":"ui_tab","z":"","name":"Doorway 1","icon":"dashboard"},{"id":"ed8f9d6a.f8389","type":"mqtt-broker","z":"","name":"","broker":"http://192.168.1.137","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"15b30bdb.158064","type":"http in","z":"83d18cbe.ba682","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":162,"y":298,"wires":[["200669b5.790656"]]},{"id":"200669b5.790656","type":"template","z":"83d18cbe.ba682","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":312,"y":298,"wires":[["244b5fd9.991da"]]},{"id":"244b5fd9.991da","type":"http response","z":"83d18cbe.ba682","name":"","statusCode":"","headers":{},"x":452,"y":298,"wires":[]},{"id":"7537eac.b6edd14","type":"http in","z":"83d18cbe.ba682","name":"","url":"/echo","method":"post","upload":false,"swaggerDoc":"","x":172,"y":358,"wires":[["fe5276e4.d5d308","f51fc421.4f5c38","22d6afea.0f9be","16bedf80.e49241","f8a99604.a90358","23220227.f0c96e"]]},{"id":"fe5276e4.d5d308","type":"http response","z":"83d18cbe.ba682","name":"","statusCode":"201","headers":{},"x":462,"y":358,"wires":[]},{"id":"f51fc421.4f5c38","type":"debug","z":"83d18cbe.ba682","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":581,"y":419,"wires":[]},{"id":"22d6afea.0f9be","type":"ui_text","z":"83d18cbe.ba682","group":"464dfed7.7d3e3","order":0,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload.DATA}}","layout":"row-spread","x":592,"y":493,"wires":[]},{"id":"16bedf80.e49241","type":"ui_audio","z":"83d18cbe.ba682","name":"","group":"464dfed7.7d3e3","voice":"en-US","always":true,"x":588,"y":683,"wires":[]},{"id":"de698e4.9f5817","type":"inject","z":"83d18cbe.ba682","name":"FORWARD","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":158,"y":662,"wires":[["1d5e5f02.38a701","f8a99604.a90358"]]},{"id":"1d5e5f02.38a701","type":"function","z":"83d18cbe.ba682","name":"","func":"var msg;\nmsg.payload = { DATA: 'FORWARD' };\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":660,"wires":[["16bedf80.e49241","f51fc421.4f5c38","22d6afea.0f9be","23220227.f0c96e"]]},{"id":"bf242fec.39366","type":"function","z":"83d18cbe.ba682","name":"","func":"msg.payload = {DATA: \"\"};\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":496,"wires":[["22d6afea.0f9be"]]},{"id":"f8a99604.a90358","type":"delay","z":"83d18cbe.ba682","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":225,"y":496,"wires":[["bf242fec.39366"]]},{"id":"23220227.f0c96e","type":"mqtt out","z":"83d18cbe.ba682","name":"blinkPucks","topic":"crossThreshold","qos":"","retain":"","broker":"ed8f9d6a.f8389","x":600,"y":574,"wires":[]},{"id":"3351ca47.be8496","type":"inject","z":"83d18cbe.ba682","name":"REVERSE","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":148,"y":768,"wires":[["c77795b.af20768","f8a99604.a90358"]]},{"id":"c77795b.af20768","type":"function","z":"83d18cbe.ba682","name":"","func":"var msg;\nmsg.payload = { DATA: 'REVERSE' };\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":769,"wires":[["23220227.f0c96e","f51fc421.4f5c38","22d6afea.0f9be","16bedf80.e49241"]]}]